* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 140px 0 236px 135px;
  min-height: 100vh;
  background-color: #fdf0e9;
  display: flex;
}
.container h1 {
  color: var(--Text_Dark_Accent, #ef6d58);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.container h2 {
  margin-top: 17px;
  color: var(--Text_Dark, #391400);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
}

.container p {
  margin-top: 32px;
  color: var(--Text_Dark_Gray, rgba(57, 20, 0, 0.64));
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.container a {
  margin-top: 28px;
  color: var(--Text_Dark, #391400);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-decoration: none;
}

.container ul {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

.container  ul li {
  display: flex;
    align-items: center;
  list-style-type: none;
}

.container  .lesson ul li span {
    margin-right: 66px;
  color: #391400;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
}

.container ul li h4 {
  color: var(--Text_Dark, #391400);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

